language: java
sudo: false

before_install: "git clone -b travis `git config --get remote.origin.url` target/travis"
script: "
if [ ${TRAVIS_PULL_REQUEST} = 'false' ];
then 
    mvn clean deploy --settings target/travis/settings.xml; 
else 
    mvn clean verify --settings target/travis/settings.xml;
fi"

jdk:
  - oraclejdk8

# whitelist
branches:
  only:
    - develop

env:
  global:
    - secure: "GpbSLiP+Flf1JgbA+d9yWvCkyIZDIygHWCRZ6DSmty2RNFxj65HzrqLWJds5zEicsYsczhDV2V1z15BfcEDoCq0GlRYbJNjW4WmFH9l1+BxAkTD9TXW0sYcDxC9bybVvryMl1BqzDbu7eS7TwB3d4rWvJkOE2J8HPNsDLK+6Ny4="
    - secure: "W+96s8y/87xTeuGydqN1Ll0qf2FAhjCIKvLxAQp6AC+/0oHXxlsDgoEqq1x5mEqvsA2HPMZAyPgkhpVg0I9axSe8/xzv6lO5YLYjsJnjh8JxUyyMVC83IAuI7Vp90n9vdnkkc7GMsp3bLbAelosBDJtm9w7aweWKJtDnBzrWVSM="